/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html {
	font-family: "Amatic SC", cursive;
	/* resetting font size to 10px makes rem math much easier*/
	font-size: 10px;
	box-sizing: border-box;
}
// Set secting heading font
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Shadows Into Light", cursive;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	background: #2c3e50;
}

P,
li {
	font-size: 1.6rem;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}
a {
	text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* ########## END GLOBAL ########## */

/* ########## MIXINS ########## */
@mixin flex-row {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin flex-col {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* ########## CONTAINER ########## */
.container {
	width: 90vw;
	height: 100vh;
	margin: 0 auto;
}
/* ########## HEADER ########## */
.headline-wrapper {
	@include flex-row;
	gap: 1rem;
	margin-bottom: 5rem;
}
.fas {
	font-size: 3.5rem;
	color: #c0392b;
}
h3 {
	font-size: 3.5rem;
	color: #e74c3c;
	margin-top: 30px;
}
/* ########## DICE ########## */
section {
	@include flex-col;
	color: white;
}
.dice-sect {
	@include flex-row;
	justify-content: space-between;
	width: 100%;
	max-width: 768px;
	overflow: hidden;
	// border: 1px solid red;
}
.dice-sect p {
	font-size: 4rem;
	text-align: center;
}
.box {
	// border: 1px solid pink;
	width: 100%;
	height: 50vh;
}
.ldice {
	width: 90%;
	margin: 40px auto;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
	// position: absolute;
}
.rdice {
	width: 90%;
	margin: 40px auto;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
}
// .left-dice {
// 	width: 90%;
// 	height: 100%;
// 	margin: 0 auto;
// 	background: url("img/dice1.png") center/contain no-repeat;
// }
// .right-dice {
// 	width: 90%;
// 	height: 100%;
// 	margin: 0 auto;
// 	background: url("img/dice1.png") center/contain no-repeat;
// }

button {
	padding: 1.5rem 6rem;
	font-size: 2.5rem;
	font-weight: bold;
	color: #2c3e50;
	cursor: pointer;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.384);
	outline: none;
	border-radius: 3px;
	background: #ecf0f1;
}
button:active {
	transform: scale(0.8);
}

/* ########## JS ADDITIONS ########## */
.flash {
	animation: flashy 300ms ease-in-out;

	transition: color ease-in-out 500ms;
}

@keyframes flashy {
	0% {
		transform: scale(1.2) rotate(0deg);
		color: white;
	}
	50% {
		transform: scale(1.2) rotate(20deg);
		color: #1abc9c;
	}
	100% {
		transform: scale(1) rotate(0deg);
		color: white;
	}
}
/* ########## MEDIA QUERIES ########## */

@media only screen and (min-width: 560px) and (orientation: landscape) {
	.container {
		width: 95vw;
		position: relative;
	}
	.headline-wrapper {
		margin-bottom: 4rem;
		margin-top: 20px;
	}
	h3 {
		font-size: 3rem;
		margin-top: 10px;
	}
	.fas {
		font-size: 3rem;
	}
	.dice-sect p {
		font-size: 3.5rem;
	}
	.ldice {
		width: 25%;
		margin: 20px auto;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
		// position: absolute;
	}
	.rdice {
		width: 25%;
		margin: 20px auto;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
	}
	button {
		// padding: 1rem 4rem;
		width: 100px;
		padding: 10px;
		height: 100px;
		font-size: 2.5rem;
		font-weight: bold;
		color: #2c3e50;
		cursor: pointer;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.384);
		outline: none;
		border-radius: 50%;
		background: #ecf0f1;
		position: absolute;
		bottom: 100px;
		left: 224px;
	}
}
@media only screen and (min-width: 653px) and (orientation: landscape) {
	button {
		bottom: 90px;
		left: 257px;
	}
	.headline-wrapper {
		margin-bottom: 2rem;
		margin-top: 10px;
	}
	.ldice {
		width: 25%;
		margin: 0px auto;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
		// position: absolute;
	}
	.rdice {
		width: 25%;
		margin: 0px auto;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
	}
	.dice-sect p {
		font-size: 3.5rem;
		margin-bottom: 1rem;
	}
}
@media only screen and (min-width: 660px) and (orientation: landscape) {
	button {
		bottom: 150px;
		left: 264px;
	}
}
@media only screen and (min-width: 660px) and (orientation: landscape) {
	button {
		bottom: 190px;
		left: 295px;
	}
}
@media only screen and (min-width: 720px) and (orientation: landscape) {
	button {
		bottom: 320px;
		left: 295px;
	}
}
@media only screen and (min-width: 812px) and (orientation: landscape) {
	button {
		bottom: 150px;
		left: 335px;
	}
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
	.container {
		width: 95vw;
		position: relative;
	}
	.headline-wrapper {
		margin-bottom: 4rem;
		margin-top: 20px;
	}
	h3 {
		font-size: 6rem;
		margin-top: 10px;
	}
	.fas {
		font-size: 5rem;
	}
	.dice-sect p {
		font-size: 4.5rem;
	}
	.ldice {
		width: 65%;
		margin: 20px auto;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
		// position: absolute;
	}
	.rdice {
		width: 65%;
		margin: 20px auto;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
	}
	button {
		padding: 0;
		width: 250px;
		height: 100px;
		font-size: 3.6rem;
		font-weight: bold;
		color: #2c3e50;
		cursor: pointer;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.384);
		outline: none;
		border-radius: 3px;
		background: #ecf0f1;
		bottom: 130px;
		left: 355px;
	}
}
@media only screen and (min-width: 1366px) and (orientation: landscape) {
	.container {
		width: 95vw;
		position: relative;
	}
	.headline-wrapper {
		margin-bottom: 4rem;
		margin-top: 20px;
	}
	h3 {
		font-size: 8rem;
		margin-top: 10px;
	}
	.fas {
		font-size: 7rem;
	}
	.dice-sect p {
		font-size: 7.5rem;
	}
	.ldice {
		width: 80%;
		margin: 20px auto;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
		// position: absolute;
	}
	.rdice {
		width: 80%;
		margin: 20px auto;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
	}
	button {
		padding: 0;
		width: 450px;
		height: 130px;
		font-size: 5.6rem;
		font-weight: bold;
		color: #2c3e50;
		cursor: pointer;
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.384);
		outline: none;
		border-radius: 3px;
		background: #ecf0f1;
		bottom: 150px;
		left: 405px;
	}
}
